@page "/awsome"
@using XamarinWeb.Shared;

<body>
    <h1>Cellenza</h1>
    <h2>Does IT better!</h2>
    In @viewModel.BestCount Times

    <br /><button id="button" @onclick="IncreaseBetterIndex"> Increase Better index</button>
    <br /> <div style="@AwsomeStyle()"> Indeed</div>
</body>
@code {

    private BestViewModel viewModel;

    protected override void OnInitialized()
    {
        viewModel = new BestViewModel();
    }

    private void IncreaseBetterIndex()
    {
        viewModel.IncreaseBestCommand.Execute();
    }

    private string AwsomeStyle()
    {
        if (!viewModel.ShouldShowBestMessage)
            return "display: none";
        else
            return "";
    }
}
