@page "/best"
@using XamarinWeb.Shared;


    <div>
        <div>
            <h1 class="font-">Cellenza</h1>
            <h2>Does IT better!</h2>
            In @viewModel.BestCount Times

            <br /><button class="button button2" @onclick="IncreaseBetterIndex"> Increase Better index</button>
            <br /> <div style="@BestStyle()"> Indeed</div>
        </div>
    </div>

@code
 {
    private BestViewModel viewModel;

    protected override void OnInitialized()
    {
        viewModel = new BestViewModel();
    }

    private void IncreaseBetterIndex()
    {
        viewModel.IncreaseBestCommand.Execute();
    }

    private string BestStyle()
    {
        return viewModel.ShouldShowBestMessage ? "display: none" : "";
    }
}
